<head>
  <title>LINK</title>
  <meta charset="UTF-8">
  <meta name="author" content="Linh, Ian, Nell, Katie">
  <meta name="description" content="FOOOOOOOD!">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Bootstrap -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
  <header>
    <h1>LINK</h1>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contactUs">Contact Us</a></li>
    </ul>
  </header>
  <h1>About Us</h1>
  <p>No meal plan, no worries! Here at LINKtohealth, we are dedicated to helping
    people like you serve up delicous, healthy meals in the comfort of your own
    home and without the expense of having purchase new ingredients.
    Simply let us know what food items you have in your fridge to work with and we'll provide
    you savory recipes that you can make in no time!
    Founded by four food-loving low-budget college students, we know how stressful
    cooking for oneself can be without much to spend or experinece in whipping up
    creative, healthy food options. Trust us to deliver you delightful, exquisite
    meals and you'll never have to stress about making a meal ever again!

  <footer class="clearfix">
    <p>&copy; 2018 LINK</p>
  </footer>
