<head>
  <title>LINK</title>
  <meta charset="UTF-8">
  <meta name="author" content="Linh, Ian, Nell, Katie">
  <meta name="description" content="FOOOOOOOD!">
  <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1>LINK</h1>
    <ul class="menu">
      <li><a href="/index">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </header>
  <main>
    <h2>Favorite Recipes</h2>
    <form method="post" action="recipes">
      <p>Type in your ingredients</p>
      <textarea id="ingredients" name="ingredients" value="" placeholder="i.e. Rice, celery, beef, cream of chicken soup, carrots, peas, etc." cols="40" rows="15"></textarea>
      <input type="submit" value="Submit">
    </form>
  </main>
  <footer class="clearfix">
    <p>&copy; 2018 LINK</p>
  </footer>
