<head>
  <title>LINK</title>
  <meta charset="UTF-8">
  <meta name="author" content="Linh, Ian, Nell, Katie">
  <meta name="description" content="FOOOOOOOD!">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
  <header>
    <h1>LINK</h1>
    <ul class="menu">
      <li><a href="/index">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </header>
  <main>
    <h2>Ingredients you have in your fridge could make a tasty meal, without having to leave your house! Type in the ingredients you currently have and you will receive a list of delicious recipes.</h2>
    <form action='recipes' method="POST">
      <p>Type in your ingredients</p>
      <textarea id="ingredients" name="ingredients" value="" placeholder="i.e. Rice, celery, beef, cream of chicken soup, carrots, peas, etc." cols="40" rows="15"></textarea>
      <input type="submit" value="Submit">
    </form>
  </main>
  <footer class="clearfix">
    <p>&copy; 2018 LINK</p>
  </footer>
