<head>
  <title>LINK</title>
  <meta charset="UTF-8">
  <meta name="author" content="Linh, Ian, Nell, Katie">
  <meta name="description" content="FOOOOOOOD!">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Vast+Shadow" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header class="clearfix">
    <h1>LINK</h1>
    <ul class="menu">
      <li class="btn"><a href="/index">Home</a></li>
      <li class="btn"><a href="/about">About</a></li>
      <li class="btn"><a href="/contact">Contact Us</a></li>
    </ul>
  </header>
  <main>
    <h2>Recipes</h2>
    {% for recipe in res %}
    <h3>{{ recipe.recipe.label }}</h3>

    <img src="{{ recipe.recipe.image }}" alt="food">

    <p>
      <b>Calories:</b> {{ (recipe.recipe.calories)|round|int }}g</p>

    <h4>Health Labels</h4>
    <ul>
      {% for lab in recipe.recipe.healthLabels %}
      <li>{{ lab }}</li>
      {% endfor %}
    </ul>

    <h4>Ingredients</h4>
    <ul>
      {% for ingred in recipe.recipe.ingredients %}
      <li>{{ ingred.text }}</li>
      {% endfor %}
    </ul>

    <details>
      <summary>
        <b>Nutrition value</b>
      </summary>
      <ul>
        {% for nutrition in recipe.recipe.digest %}
        <li>{{ nutrition.label }}: {{ (nutrition.total)|round|int }}g</li>
        {% endfor %}
      </ul>
    </details>

    {% endfor %}


  </main>
  <footer class="clearfix">
    <p class="foot">&copy; 2018 LINK</p>
  </footer>
</body>
